.content {
	margin: 30px auto 0;
	display: flex;
}

#news-cards-container {
	justify-content: space-between;
	width: 1220px;
}

#categories-container {
	justify-content: space-between;
	flex-flow: row wrap;
	width: 1220px;
}

#categories-section-title {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	align-self: flex-start;
	margin: 0 80vw 15px 5px;
}

.category-card {
	width: 290px;
	height: 187px;
	border-radius: 15px;
	background-color: #fff;
	margin: 0 0 20px 0;
	display: flex;
	flex-flow: row wrap;
	transition: 0.5s all;
}

.category-card:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.category-card img {
	width: 290px;
	height: 144px;
	border-radius: 15px 15px 0 0;
}

.category-card h2 {
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	color: #000;
}

#products-section-container {
	width: 1220px;
	flex-flow: row wrap;
}

#products-section-title {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	align-self: flex-start;
	margin: 0 50vw 15px 5px;
}

#products-container {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	width: 1220px;
	background-color: #fff;
	border-radius: 15px;
}

#producers-section-container {
	width: 1220px;
	flex-flow: row wrap;
}

#producers-section-title {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	align-self: flex-start;
	margin: 0 50vw 15px 5px;
}

#producers-container {
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	width: 1220px;
	background-color: #fff;
	border-radius: 15px;
}

.producer-div-style {
	display: flex;
	flex-flow: column;
	width: 260px;
	margin: 30px 15px;
}

.producer-div-style:hover {
	cursor: pointer;
}

.producer-div-style img {
	width: 260px;
	height: 180px;
}

.producer-div-style h2 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
	color: #000;
}

.slides-arrow {
	width: 12px;
	height: 23px;
	margin: auto 20px;
	cursor: pointer;
}
