.news-card {
	width: 290px;
	height: 290px;
	background-color: #fff;
	border-radius: 15px;
	display: flex;
	flex-flow: column;
	transition: 0.5s all;
}

.news-card:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.news-card img {
	width: 150px;
	height: 150px;
	margin: 20px auto;
}

.news-card h2 {
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
}

.news-card p {
	font-size: 14px;
	margin: 10px auto 15px;
	padding: 0 20px;
	color: rgba(0, 0, 0, 0.4);
	/* DOES NOT WORK IN FIREFOX AND INTERNET EXPLORER */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
