.news-banner {
	width: 1220px;
	height: 280px;
	background-color: #fff;
	border-radius: 15px;
}

.news-banner img {
	width: 930px;
	height: 240px;
	margin: auto;
}

.news-banner img:hover {
	cursor: pointer;
}
