#wide-sidebar {
	background-color: #192932;
	width: 300px;
	height: 100vh;
	z-index: 4;
	position: fixed;
	animation-name: slide-in;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

@keyframes slide-in {
	from {transform: translate3d(-100%, 0, 0);}
	to {transform: translate3d(0, 0, 0);}
}

#wide-sidebar-logo {
	width: 200px;
	height: 40px;
	margin: 8.5px auto;
	display: flex;
}

#wide-sidebar-search {
	width: 300px;
}

#wide-sidebar-search:hover {
	background: #fff;
}

#wide-sidebar-search:hover h3 {
	color: #192932;
}

#wide-search-content {
	display: flex;
	flex-flow: row;
	margin: 20px auto;
	width: 200px;
	height: 55px;
}

#wide-sidebar-search-icon {
	width: 26px;
	height: 26px;
  margin: auto 0 auto 6px;
}

#wide-search-text {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin: auto 0 auto auto;
}

#wide-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 11, 25, 0.4);
  position: fixed;
  z-index: 3;
  top: 0;
}
